* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(#033747,#012733);
    color: rgb(255, 0, 0);
    text-transform: uppercase;
    align-items: center;
}

    nav .logo p {
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        cursor: pointer;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav li {
        list-style: none;
    }

        nav li a {
            font-size: 15px;
            text-transform: uppercase;
            padding: 0px 10px;
            color: white;
            text-decoration: none;
        }

.content-items img {
    width: 100%;
    height: auto;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

/*.social-container {
    position: relative;
    bottom: 0px;
    left: 20px;
    width: 100%;
    text-align: center;
}*/

.social-container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .social-container ul li {
        list-style: none;
    }

        .social-container ul li a img {
            width: 20px;
        }

.footer {
    text-align: end;
    position: relative;
    right: 20px;
}

.social-container ul li a img {
    width: 35px;
}

@media only screen and (max-width: 700px) {
    nav {
        padding: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

        nav .logo p {
            font-size: 15px;
            letter-spacing: 1px;
        }

        nav li a {
            font-size: 10px;
            text-transform: uppercase;
            padding: 0px 5px;
            color: white;
            text-decoration: none;
        }
}

@media only screen and (max-width: 400px) {
    nav {
        padding: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

        nav .logo p {
            font-size: 12px;
            margin-left: 20px;
        }

        nav li a {
            font-size: 8px;
            text-transform: uppercase;
            padding: 0px 5px;
            color: white;
            text-decoration: none;
        }

    .footer {
        font-size: 10px;
    }

    .social-container ul li a img {
        width: 25px;
    }
}
